.test-tube-1 {
    width: 50px;
    border-radius: 30px 30px 30px 30px;
    /* border: 2px solid #ccc; */
    background-color: #f0f0f0;
}
.tube-bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;

}
.arrow{
    color: black;
    background-color: gray;
    border-radius: 50%;
    padding: 7px;
}
.evnt-txt-heading{
    font-family: fantasy;
    letter-spacing: 1px;
}
.evnt-txt-des{
    transition: transform 0.5s ease-in; 
}