.optionText{
    font-size: 13px
}
/* .knowMore{
    display: none;
    padding: 0px 10px 0px 10px;
  }
.zoom{
    transition: transform 0.3s ease;
  }
.zoom:hover {
    transform: scale(1.1);
  }
.zoom:hover .knowMore{
    display: block !important;
  } */