
cursor-pointer{
  cursor: pointer;
}
.item-test {
  color: white;
}
/* Add the hover effect */
.item-test:hover {
  /* border-top: 2px solid #EBC013;
  border-left: 2px solid #EBC013;
  color: #EBC013; */
  /* font-size: 25px; */
}
.footer-cont{
  background-image: url('https://picsum.photos/id/24/4855/1803');
background-repeat: no-repeat;
background-size: cover;
}
.text-web{
  color: #EBC013;
}
.text-dec{
  text-decoration: none;
}
.fs-custom{
  font-size: 15px;
}
.h-fs-custom{
  font-size: 17px;
}
/* card css */
.container-event {
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center
}
/* p {
  margin: 0px
} */
.card {
  width: 280px;
  height: 520px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden
}
.card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%
}
.card:hover {
  color: #fff;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}
.card:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #EBC013;
  animation: popBackground 0.3s ease-in
}
@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%
  }
  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%
  }
  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%
  }
  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%
  }
}
.card .pic {
  position: relative
}
.card .pic img {
  width: 100%;
  height: 280px;
  object-fit: cover
}
.card .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 70px;
  background-color: #EBC013;
  color: white;
  position: absolute;
  bottom: 0px;
  transition: all ease
}
.card .date .day {
  font-size: 14px;
  font-weight: 600
}
.card .date .month,
.card .date .year {
  font-size: 10px
}
.card .text-muted {
  font-size: 12px
}
.card:hover .text-muted {
  color: #fff !important
}
.card .content {
  padding: 0 20px
}
.card .content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #EBC013;
  border-radius: 25px;
  font-size: 12px;
  border: none
}
.card:hover .content .btn {
  background: #fff;
  color: #EBC013;
  box-shadow: #0000001a 0px 3px 5px
}
.card .content .btn .fas {
  font-size: 10px;
  padding-left: 5px
}
.card .content .foot .admin {
  color: #EBC013;
  font-size: 12px
}
.card:hover .content .foot .admin {
  color: #fff
}
.card .content .foot .icon {
  font-size: 12px
}
/* slider css */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.carousel-items {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.carousel-item {
  margin: 0 5px;
  transition: transform 0.3s;
  flex: 0 0 20%;
}
.img-home-slider {
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
  border-radius: 7px;
  /* border-radius: 50%; */
}

.center {
  transform: scale(1.5);
  margin: 37px;
  opacity: none;
}
.opacity {
  opacity: 0.7;
}
.end {
  transform: scale(0.6);
  margin: -15px;
}
button {
  font-size: 24px;
  padding: 5px 10px;
  margin: 10px;
}
/* google map */
.map-container {
  width: 100%;
  height: 400px;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
.event-container {
  padding:'5rem'
}
.text-shadow-effect {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hovermenu_list a p:hover {
  color: #EBC013 ;
}
.hovermenu_list {
  position: relative;
}
.hovermenu_list::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 17px;
  left: 0;
  background-color: #EBC013;
  transition: width 0.3s ease;
}
.hovermenu_list:hover::before {
  width: 100%;
}
/* .leaflet-tile {
    filter: hue-rotate(45deg) !important;
} */
/* category slider css */
.slider__wrapper {
  width: 100%;
}
.slider__inner {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.slide img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 0.25rem;
}
.slide {
  width: 100px;
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
  transition: 0.8s ease;
}
.slider__inner .slide:first-child,
.slider__inner .slide:last-child {
  height: 480px;
}
.slider__inner .slide:nth-child(2),
.slider__inner .slide:nth-child(6) {
  height: 560px;
}
.slider__inner .slide:nth-child(3),
.slider__inner .slide:nth-child(4),
.slider__inner .slide:nth-child(5) {
  height: 665px;
}
.cat-h1{
  position: absolute;
  top: 30%;
  font-weight: 600;
  font-size: 2rem;
  rotate: 270deg;
  white-space: nowrap;
  left: -19%;
  /* transform: translate(-50%, 50%); */
  color: white;
}
.desc {
  position: absolute;
  bottom: 2rem;
  left: 30%;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}
.slide.active {
  width: 600px !important;
  height: 700px !important;
}
.slide.active h1 {
  display: none;
}


/* multi slider */
.main-container{
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} 
.swiper {
  width: 100%;
  height: 100%;
}
.multislider{
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
  margin-top: 5px !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.test-button{
  /* display: none; */
  /* padding: 0px 10px 0px 10px; */
  opacity: 0;
  border: none;
  border-radius: 1px solid black;
}
.zoom{
  transition: transform 0.3s ease;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}
.zoom:hover {
  transform: scale(1.1);
}
.zoom:hover .test-button{
  /* display: block !important; */
  opacity: 1;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.accodationBorder{
border: none !important;
}
.accodationBorder:focus{
  /* background-color: #000; */
  border: none !important;
  border-color: #000 !important;
}
.accordation-bg{
background-color: #000 !important;
border: none !important;

}
.accordion-button:not(.collapsed) {
  /* color: var(--bs-accordion-active-color); */
  background-color: transparent !important;
  border-color: white !important;
}
.accordationheading{
  color: rgb(233, 233, 30) !important;
  font-size: 24px !important;
    font-weight: 800;
}
.bg-dark-black{
  background-color: #000;
}
.accordion-button:focus {
  z-index: 0 !important;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
  color: white !important;
}
.accordion-button::after{
  color: white !important;
}
.membership-title{
  font-size: 35px;
    font-weight: 700;
}
.img-membership{
  border-radius: 80px;
}


/* img swiper */


.swiper {
  position: relative;
	/* width: 800px; */
	margin-inline: auto;
  --body-color: #dcdcdc;
}

.swiper::before {
  content: "";
  position: absolute;
  top: -70px;
  left: -10%;
  width: 120%;
  height: 100px;
  background: #000000;
  border-radius: 100%;
  z-index: 100;
}

.swiper::after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: -10%;
  width: 120%;
  height: 100px;
  background: #000000;
  border-radius: 100%;
  z-index: 1000;
}







.mySwiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide-global {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide-global img {
  display: block;
  width: 100%;
}

/* globalevents slider */
.global-event-img{
  border-radius: 20px;

}
.position-relative {
  position: relative;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Change text color as needed */
  font-size: 24px; /* Adjust font size as needed */
}
.event-name{
  font-weight: bold;
  font-size: 50px;
}
/* Modal styles */
.marquee-container {
  height:auto; /* Adjust the height according to your design */
  overflow: hidden;
  display: flex;
 
}
.marquee-images{
  width: 130px;

 border-radius: 2rem;
 /* margin-top: 10px; */
}

.marquee-container {
  height:auto; /* Adjust the height according to your design */
  overflow: hidden;
  display: flex;
 
}
.marquee-images{
  width: 130px;

 border-radius: 2rem;
 /* margin-top: 10px; */
}




/* rajendra  */
.book_now_user {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100dvh;
}
.book_title.active {
  display: none;
}
.book_now_user_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease;
}
.book_now_user_content.active {
  opacity: 1;
  left: 40%;
  transform: translate(-50%, -50%);
}
.slider {
  position: relative;
  flex-basis: 25%;
  color: white;
  transition: flex-basis .5s ease;
  z-index: 9;
}
.slider:hover .plus_icon{
height: auto;

}

.slider.active .plus_icon {
  display: none;
}
.slider::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  transition: all .3s ease;
}

.slider:hover::after {
  opacity: 1;
  background: #0000001f;
}
.booknow__title_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all .5s ease;
}
.slider .book_now_user_content{
  display: none;
}
.slider.active .book_now_user_content {
  display: block;
}


.book_now_user_content p.text-uppercase{
  color: yellow;
}
.slider.active{
  flex-basis: 50%;
}
img.full_img {
  /* position: relative; */
  height: 100vh;
  width: 100%;
}
.plus_icon{
  height: 0px;
  transition: all 0.5s ease;
}
.book_now_user_content h1 {
  font-size: 28px;
  font-weight: 800;
}
.book_now_user_content p{
  font-size: 9px;
}
.book_now_user_content button {
  border: none;
  border-radius: 20px;
  background-color: yellow;
  color: black;
  padding: 7px 14px;
}


.container-event-1 {
  position: relative;
  width: 100%;
  height: 500px; /* adjust height as needed */
  background-size: cover;
}

.image-container-event {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-image-event {
  width: 100%;
  height: 100%;

}
.event-name-h1{
  font-size: 56px;
}

.thumbnails-event {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.thumbnail-event {
  width: 160px; /* adjust width as needed */
  height: 170px; /* adjust height as needed */
  margin-left: 5px; /* adjust spacing as needed */
  cursor: pointer;
  border-radius: 10px;
}

.event-details {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.event-details p{
  color: white;
}
.book-now-event{
  background-color: yellow;
  border-radius: 9px;
 
  font-size: 15px;
  font-weight: 500;
}

/* event page cartoon */

.slider-cartoon {
  margin:0 20px;
  overflow:"hidden";
  padding:2rem 0;
}

.slider-cartoon img {
  width: 100%;
  border-radius:10px;
}

.react-multi-carousel-list {
padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button{
border: none;
background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button{
background: rgb(255, 68, 68) !important;
}


.hover-content-cartoon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hover-content-cartoon h2 {
  color: #fff;
  font-size: 24px;
}

.hover-content-cartoon p {
  color: #fff;
  font-size: 16px;
}

.animated-button-carton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.animated-button-cartoon:hover {
  background-color: #0056b3;
}

