
cursor-pointer{
  cursor: pointer;
}
.item-test {
  color: white;
}
/* Add the hover effect */
.item-test:hover {
  /* border-top: 2px solid #EBC013;
  border-left: 2px solid #EBC013;
  color: #EBC013; */
  /* font-size: 25px; */
}
.footer-cont{
  background-image: url('https://www.demigodhouse.com/assets/images/index_footer_bg.webp');
background-repeat: no-repeat;
background-size: cover;
}
.text-web{
  color: #EBC013;
}
.text-dec{
  text-decoration: none;
}
.fs-custom{
  font-size: 15px;
}
.h-fs-custom{
  font-size: 17px;
}
/* card css */
.container-event {
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center
}
/* p {
  margin: 0px
} */
.card {
  width: 280px;
  height: 520px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden
}
.card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%
}
.card:hover {
  color: #fff;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}
.card:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #EBC013;
  animation: popBackground 0.3s ease-in
}
@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%
  }
  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%
  }
  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%
  }
  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%
  }
}
.card .pic {
  position: relative
}
.card .pic img {
  width: 100%;
  height: 280px;
  object-fit: cover
}
.card .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 70px;
  background-color: #EBC013;
  color: white;
  position: absolute;
  bottom: 0px;
  transition: all ease
}
.card .date .day {
  font-size: 14px;
  font-weight: 600
}
.card .date .month,
.card .date .year {
  font-size: 10px
}
.card .text-muted {
  font-size: 12px
}
.card:hover .text-muted {
  color: #fff !important
}
.card .content {
  padding: 0 20px
}
.card .content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #EBC013;
  border-radius: 25px;
  font-size: 12px;
  border: none
}
.card:hover .content .btn {
  background: #fff;
  color: #EBC013;
  box-shadow: #0000001a 0px 3px 5px
}
.card .content .btn .fas {
  font-size: 10px;
  padding-left: 5px
}
.card .content .foot .admin {
  color: #EBC013;
  font-size: 12px
}
.card:hover .content .foot .admin {
  color: #fff
}
.card .content .foot .icon {
  font-size: 12px
}
/* slider css */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.carousel-items {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.carousel-item {
  margin: 0 5px;
  transition: transform 0.3s;
  flex: 0 0 20%;
}
.img-home-slider {
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
  border-radius: 7px;
  /* border-radius: 50%; */
}

.center {
  transform: scale(1.5);
  margin: 37px;
  opacity: none;
}
.opacity {
  opacity: 0.7;
}
.end {
  transform: scale(0.6);
  margin: -15px;
}
button {
  font-size: 24px;
  padding: 5px 10px;
  margin: 10px;
}
/* google map */
.map-container {
  width: 100%;
  height: 400px;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
.event-container {
  padding:'5rem'
}
.text-shadow-effect {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hovermenu_list a p:hover {
  color: #EBC013 ;
}
.hovermenu_list {
  position: relative;
}
.hovermenu_list::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 17px;
  left: 0;
  background-color: #EBC013;
  transition: width 0.3s ease;
}
.hovermenu_list:hover::before {
  width: 100%;
}
/* .leaflet-tile {
    filter: hue-rotate(45deg) !important;
} */
/* category slider css */
.slider__wrapper {
  width: 100%;
}
.slider__inner {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.slide img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 0.25rem;
}
.slide {
  width: 100px;
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
  transition: 0.8s ease;
}
.slider__inner .slide:first-child,
.slider__inner .slide:last-child {
  height: 480px;
}
.slider__inner .slide:nth-child(2),
.slider__inner .slide:nth-child(6) {
  height: 560px;
}
.slider__inner .slide:nth-child(3),
.slider__inner .slide:nth-child(4),
.slider__inner .slide:nth-child(5) {
  height: 665px;
}
.cat-h1{
  position: absolute;
  top: 30%;
  font-weight: 600;
  font-size: 2rem;
  rotate: 270deg;
  white-space: nowrap;
  left: -19%;
  /* transform: translate(-50%, 50%); */
  color: white;
}
.desc {
  position: absolute;
  bottom: 2rem;
  left: 30%;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}
.slide.active {
  width: 600px !important;
  height: 700px !important;
}
.slide.active h1 {
  display: none;
}